body {
  background-color: #4e878c;
}

.container {
  background-color: #4e878c;
  margin: auto;
  margin-top: 20px;
  height: 275px;
  width: 100%;
}

.header {
  margin: 0;
  padding: 20px;
  background-color: #65b891;
  color: white;
  text-align: center;
}

.formBody {
  background-color: white;
  width: 300px;
  margin: auto;
  padding: 50px;
}

.userName {
  padding: 50px;
}

.ant-col.ant-col-2.ant-form-item-label {
  padding: 6px 0px;
}
